.menu_bottom {
    background: #F5F5F5;
    padding-top: 51px;
    padding-bottom: 23px;
    box-sizing: border-box;
}
.menu_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -47px;
    margin-left: -47px;
}
.menu_item {
    max-width: 305px;
    width: 100%;
    margin: 0 47px 20px;
    box-sizing: border-box;
}
.menu_title {
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #164883;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu_link {
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;

    .social {
        margin: 10px;
    }
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}
.footer_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.footer_logo {
    width: 165px;
    height: 44px;
}
.footer_copy {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.03em;
    margin-left: 35px;
    margin-top: 5px;
}
.politic {
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}
.footer_contact {
    padding-left: 50px;
    margin: 10px;

    .phone {
        margin-left: 0;
    }
}
.address {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.03em;
    margin-left: -50px;
}
.develop {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.03em;
    margin: 10px;

    a {
        color: $blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ----- Блок политики ----- */

.modal-container-polit {
    font-family: 'Roboto Regular', Arial, sans-serif;
    max-width: 95%;
    max-height: 95%;
    width: 1000px;
    box-sizing: border-box;
    padding: 36px 34px;
    height: auto;
    position: relative;
}
.modal-block-polit {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.title-modal-polit {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    position: relative;
    margin-bottom: 15px;
}
.modal-content-polit {
    line-height: 22px;
}
.caption-modal-polit ul {
    list-style: none;
}
.caption-modal-polit li {
    background-size: auto;
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-image: url(../img/gal-li.png);
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.285;
    margin-top: 15px;
}

/* ------ Модальное окно ------ */

.modal-container-form {
    width: 570px;
    padding: 0;
    border-radius: 6px;
}
.modal_form-title {
    @include Gilroy(extra);
    font-size: 32px;
    line-height: 1.218;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.modal_form-description {
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
}
.modal_form-wrap {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-right: 47px;
    padding-bottom: 53px;
    padding-left: 34px;
    box-sizing: border-box;
}
.modal_form {
    max-width: 319px;
}
.modal_form input[type="text"],
.modal_form input[type="tel"] {
    width: 100%;
    height: 53px;
    background: linear-gradient(0deg, $white, $white), $white;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 19px;
    @include Roboto(medium);
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: -0.03em;
}
.modal_form input[type="submit"] {
    width: 100%;
    height: 53px;
    background: linear-gradient(0deg, $blue, $blue), $white;
    border: 1px solid #3DCDF7;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 30px;
    @include Roboto(black);
    font-style: normal;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;

    &:hover {
        border: 1px solid #3DCDF7;
        background: $white;
        color: $black;
    }
}
.modal_content-form {
    display: flex;
}
.modal_img {
    min-width: 170px;
    background-image: url("../img/modal-img.png");
    background-size: cover;
    background-position: left top;
    position: relative;
}
.modal_yes {
    max-width: 250px;
    padding-left: 24px;
    background: url("../img/check-2.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
    background-size: 14px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.2;
    color: #A1A1A1;

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
.modal-close-form {
    position: absolute;
    top: 18px;
    right: 20px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-image: url(../img/close-modal.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
    cursor: pointer;
    z-index: 100;
}
.modal-close-form:hover {
    transform: rotate(90deg);
}

/*contact form 7 start*/

span.wpcf7-not-valid-tip,
div.wpcf7 .ajax-loader,
div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-response-output {
    display: none !important; }

.form-front .wpcf7-not-valid {
    border: 1px solid #e52428 !important;
    -webkit-box-shadow: inset 0 0 4px 1px #e52428;
    box-shadow: inset 0 0 4px 1px #e52428; }

.wpcf7-not-valid {
    -webkit-box-shadow: 0 0 1px 2px #f34f41;
    box-shadow: 0 0 1px 2px #f34f41;
    border-color: #f34f41 !important; }

.alertify-notifier .ajs-message.ajs-warning {
    background: white;
    -webkit-box-shadow: 0 0 3px #333333;
    box-shadow: 0 0 3px #333333; }

.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: rgba(40, 136, 62, 0.9);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

.alertify-notifier {
    z-index: 99998; }

/*contact form 7 end*/